<img class="resImg" alt="{{data.mission_name}}" width="256px" height="256px" src="{{data.links.mission_patch_small}}">
<p class="bold-text main__title">{{data.mission_name}} # {{data.flight_number}}</p>
<p class="bold-text main__option">Mission Ids:</p>
<ul>
    <li *ngFor="let id of data.mission_id">{{id}}</li>
</ul>
<p class="bold-text main__option">Launch Year: {{data.launch_year}}</p>
<p class="bold-text main__option">Successful Launch: {{data.launch_success}}</p>
<p class="bold-text main__option">Successful Landing: {{data.rocket.first_stage.cores[0].land_success}}</p>